body{
    background-color: #ffffff;
}

.first_page_img {
    margin-top: -8rem;
}

.blue_part {
    background-color: #2991E6;
    height: 200px;
}

@media (max-width: 1500px) {
    .blue_part {
        background-color: #2991E6;
        height: 200px;
    }
}

@media (max-width: 1100px) {
    .blue_part {
        background-color: #2991E6;
        height: 100px;
    }

    .first_page_img {
        margin-top: -5rem;
    }
}

@media (max-width: 700px) {
    .blue_part {
        background-color: #2991E6;
        height: 50px;
    }

    .first_page_img {
        margin-top: -3rem;
    }
}

@media (max-width: 500px) {
    .blue_part {
        background-color: #2991E6;
        height: 35px;
    }

    .first_page_img {
        margin-top: -2rem;
    }
}

@media (max-width: 400px) {
    .first_page_img {
        margin-top: -1.25rem;
    }
}

@media (max-width: 200px) {
    .blue_part {
        background-color: #2991E6;
        height: 15px;
    }

    .first_page_img {
        margin-top: -0.5rem;
    }
}
